<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="FILE_PATTERN" value="%d [%t] %5p %c - %m%n"/>
    <property name="LOG_FILE_NAME" value="deep_in_java"/>
    <property name="HISTORY" value="archive"/>
    <property name="CATALINA_APPLOG" value="log"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT_CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${CATALINA_APPLOG}/tomcat_stdout.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${CATALINA_APPLOG}/archive/tomcat_stdout-%d{yyyy-MM-dd}_%i.log.gz</FileNamePattern>
            <MaxHistory>180</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>500MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${CATALINA_APPLOG}/${LOG_FILE_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${CATALINA_APPLOG}/${HISTORY}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}_%i.log.gz</FileNamePattern>
            <MaxHistory>180</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>500MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%thread] %-5level %logger{10} - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>80</discardingThreshold>
        <queueSize>8192</queueSize>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="ch.qos.logback" level="INFO" >
        <appender-ref ref="STDOUT_CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>